@import "../../css-config/mixins.scss";

.category-main-content {
    margin: 20px 0 0 0;

    @include md {
        margin: 20px 0;
    }

    .productContent {
        display: flex;
    }

    .layout {
        max-width: calc(100% - 20px);
        margin: 0 auto;

        @include md {
            max-width: 1200px;
        }
    }

    .category-title {
        font-size: 24px;

        @include md {
            font-size: 34px;
        }
    }

    .products-container {
        margin: 20px 0;

        @include md {
            margin: 50px 0;
        }
    }
}