.signupParentDiv{
    /* position: absolute;
    z-index: 5; */
    background-color: #1b1c21;
    background-image: 
        radial-gradient(at 47% 33%, hsl(136.99, 74%, 46%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(43.05, 63%, 41%) 0, transparent 55%);
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.signupChildDiv{
    backdrop-filter: blur(21px) saturate(78%);
    -webkit-backdrop-filter: blur(21px) saturate(78%);
    background-color: rgba(17, 25, 40, 0.77);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 40%;
}
.signupChildDiv form{
    display: flex;
    margin: auto;
    padding: 1rem;
    /* width: 100%; */
    gap: 0.5rem;
    flex-direction: column;
    color: white;
}
form >  input{
    color: white;
    border-radius: 10px;
    background-color: #ffffff11;
    padding: 0.5rem 2rem;
    border: 1px solid #ffffff2f;
    padding-left: 1.2rem;
}
input.input-error{
    border: 1px solid rgb(253, 65, 65);
}
.errorEmail{
    color: rgb(253, 65, 65);
    margin: 0;
    font-size: 12px;
}
.signupChildDiv form button{
    margin-top: 1rem;
}
.upload-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff2f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    color: #ffffff5d;
    object-fit: contain;
  }
  .avatarImage{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
  }
  .avatarEditIcon{
      display: flex;
      align-items: center;
      justify-content: center;
      position:absolute;
      bottom: 0;
      right: -5px;
      color: var(--color-green);
      background-color: #ffffffea;
      padding: 1px;
      border-radius: 50%;
      width:20px;
      height:20px;
      font-size: 2px;
  }
  
@media all and (max-width:400px){
    .signupChildDiv{
        width: 80%;
    }
}