@import "../../css-config/mixins.scss";

.payment-status-paid {
    color: rgb(44, 150, 44);
    border: 1px solid rgb(44, 150, 44);
    padding: 2px 4px;
    border-radius: 5px;
}

.order-product-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
    display: block;
    width: 120px;
}
.test{
    color: rgba(0, 0, 0, 0.068);
}