@import "../../css-config/mixins.scss";

#products-container {
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    gap: 0;

    @include md {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    @include lg {}

}